.idea/
.vscode/
node_modules/
web/
.DS_Store
*.bak
*.app.quarantine
/deploy/config-prod.js
/deploy/config.js
*:com.apple.quarantine
*:Zone.Identifier
aws_user_credentials.csv
*.sh
data/
*.app.quarantine
/deploy/config-prod.js
/deploy/config.js
*:com.apple.quarantine
*:Zone.Identifier:Zone.Identifier
*:Zone.Identifier
config.bat
.env
.env.local
careride_back/.env
