NODE_ENV=development
SERVER_PORT=3001
SERVER_LINK=http://localhost:3001
DEBUG=1
CORS_ORIGIN=http://localhost:3001,http://localhost:3002,http://localhost:8080,http://localhost:4200,http://localhost,https://*.devtunnels.ms
ORDER_COMMISSION=10
TIME_ZONE=Europe/Kiev

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=careride_db

JWT_SECRET=change-me

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=1
MAIL_USER=
MAIL_PASS=
MAIL_FROM=care
MAIL_LOG=1
MAIL_TEST_MODE=0

FEEDBACK_MAIL_TO=

STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_SECRET=
STRIPE_ACC_ENDPOINT_SECRET=

AWS_SNS_REGION=
AWS_SNS_ACCESS_KEY_ID=
AWS_SNS_SECRET_ACCESS_KEY=
AWS_SES_REGION=
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_FROM=Support@careride.com
CLIENT_APP_URL=http://localhost:3000
ADMIN_NOTIFY_EMAIL=
AWS_S3_REGION=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

RECAPTCHA_SECRET_KEY=
